<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <!-- <a class="navbar-brand" href="#">Logo</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">INICIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">PRODUCTOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">TUTORIALES</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <div class="input-group search-bar">
                    <input type="search" class="form-control" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-light" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <form th:unless="${#authorization.expression('isAuthenticated()')}"
                  th:action="@{/login}" th:method="get" class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-light">Login</button>
            </form>
            <form th:if="${#authorization.expression('isAuthenticated()')}"
                  th:action="@{/profile}" th:method="get" class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-light">Perfil</button>
            </form>

        </div>
    </div>
</nav>