<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link th:href="@{/bootstrap/style.css}" rel="stylesheet"/>
    <link th:href="@{/fracmentos/footer.css}" rel="stylesheet"/>
    <link th:href="@{/fracmentos/navbar.css}" rel="stylesheet"/>
    <style>
        body {
            background-color: #2d2d2d;
            color: white;
            min-height: 80vh;
        }

        .container-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
        }

        .card-title {
            font-size: 1.4em;
        }

        .card-text {
            font-size: 1.2em;
        }
    </style>
</head>
<body>


<nav th:insert="fracmentos/navbar.html :: nav"></nav>
<div class="container mt-5 container-content">

<div th:insert="fracmentos/profile/row_info_profile.html :: div"></div>

</div>
<footer th:insert="fracmentos/footer.html :: footer"></footer>


<script th:src="@{/bootstrap/script.js}"></script>
</script>
</body>
</html>





